PORT=8080

AUTH_SERVICE_BASE_URL=http://localhost:8081
CATALOG_SERVICE_BASE_URL=http://localhost:8082
AUCTION_WALLET_SERVICE_BASE_URL=http://localhost:8083

JWT_JWK_SET_URI=http://localhost:8081/.well-known/jwks.json

FRONTEND_ORIGIN=http://localhost:5173
GATEWAY_SECRET=local-dev-gateway-secret
